.App {
  text-align: left;
  margin-bottom: 20px;
  margin: 2%;
}
.resultsTableTimeFrom {
     display: flex;
     font-size: .75em;
     color: grey;
}
.resultsTableMessage{
     white-space: pre-wrap;
     background-color: lightgrey;
     padding: 10px;
     border-radius: 25px;
}
.blankSpace{
     white-space: pre-wrap;
}
.hidden{
     opacity: .3;
}

