.App {
  text-align: left;
  margin-bottom: 20px;
  margin: 2%;
}

.warning{
text-align: center;
}

#textbox {
  text-align: center;
}

textarea {
     height: 150px;
     width: 90%;
     justify-content:  center;
}

/*div Input Box CSS
.divRow{
     display: flex;
}

.resultsDivFrom{
  width: 150px;
  flex: none;
  font-size: .75em;
  color: grey;
}

.resultsDivMessage {
     white-space: pre-wrap;
     flex: 1;
     background-color: lightgrey;
     margin: 1px;
     padding: 10px;
     border-radius: 25px;
}
/*Grid Input Box CSS
.gridContainer{
     display: grid;
     grid-template-columns: 1fr 3fr;
}
.resultsGridFrom{
     font-size: .75em;
     color: grey;
  
}
.resultsGridMessage{
     white-space: pre-wrap;
     background-color: lightgrey;
     margin: 1px;
     padding: 10px;
     border-radius: 25px;
    
}*/

/*Table Input Box CSS*/
table{
     table-layout: fixed;
} 
.resultsTableTimeFrom {
     display: flex;
     font-size: .75em;
     color: grey;
}
.resultsTableMessage{
     white-space: pre-wrap;
     background-color: lightgrey;
     padding: 10px;
     border-radius: 25px;
}
.blankSpace{
     white-space: pre-wrap;
}

