.App {
  text-align: left;
  margin-bottom: 20px;
  margin: 2%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#textbox {
  text-align: center;
}
.App-link {
  color: #61dafb;
}
textarea {
     height: 100px;
     width: 90%;
     justify-content:  center;
}